# deps
/node_modules
/content/docs/*
/content/docs/sys/*
_index.json

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.nuxt/
/.output/
/dist
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
bun.lockb

# others
.env
.env*.local
.vercel
