# deps
/node_modules
/content/docs

# generated content
/content/.vitepress/cache
/content/.vitepress/dist
/.vitepress/cache
/.vitepress/dist

# test & build
/coverage
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
bun.lockb

# others
.env
.env*.local
