# deps
/node_modules
/sites
/common/.vitepress/theme/userbase.config.js

# generated content
/.vitepress

# test & build
/coverage
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
bun.lock*

# others
.env
.env*.local
