:root {
  --vp-font-family-base: 'Raleway', 'Lato';
  --high-color: #22a2c9;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--high-color);
}

as-box {
  background-color:#f5f5f5 !important;
  border-radius:5px;
  box-shadow:0 3px 10px #aaa
}

@media print {
  .VPNav,
  .VPLocalNav,
  .VPDocFooter {
    display: none !important;
  }
}
